/*Search form style*/
#s {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#searchsubmit {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;

}

/*End search form style*/

.widget-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 100 !important;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.widget_recent_entries li {
    list-style: none;
    margin-top: auto;
    position: relative;
    display: block;
    padding: 2px 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.widget_recent_entries ul {
    padding-right: 0;
    margin-bottom: 20px;
}

.widget_categories li {
    list-style: none;
    margin-top: auto;
    position: relative;
    display: block;
    padding: 2px 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.widget_categories ul {
    padding-right: 0;
    margin-bottom: 20px;
}

.widget_nav_menu li {
    list-style: none;
    margin-top: auto;
    position: relative;
    display: block;
    padding: 2px 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.widget_nav_menu ul {
    padding-right: 0;
    margin-bottom: 20px;
}

.widget_polylang li {
    list-style: none;
    margin-top: auto;
    position: relative;
    display: block;
    padding: 2px 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.widget_polylang ul {
    padding-right: 0;
    margin-bottom: 20px;
}

.widget_recent_comments li {
    list-style: none;
    margin-top: auto;
    position: relative;
    display: block;
    padding: 2px 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.widget_recent_comments ul {
    padding-right: 0;
    margin-bottom: 20px;
}

.widget_archive li {
    list-style: none;
    margin-top: auto;
    position: relative;
    display: block;
    padding: 2px 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.widget_archive ul {
    padding-right: 0;
    margin-bottom: 20px;
}

.textwidget {
    padding-right: 0;
    margin-bottom: 20px;
}

/*Contact form style*/
#cntctfrm_contact_name, #cntctfrm_contact_email, #cntctfrm_contact_subject {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#cntctfrm_contact_message {
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.cntctfrm_contact_submit {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;

}

/*End contact form style*/

/*Plugin Usermanager style*/
.input, .input-email, .input-text {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.field-select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*End plugin Usermanager style*/
