/*
*Theme Name: Persian bootstrap wordpress template
*Theme URI: https://wordpress.org/themes/stackdesign/
*Author: the stackprogramer
*Author URI: https://blog.stackprogramer.xyz/
*Text Domain: stackdesign
* Domain Path: /languages
*Description: قالب وردپرس بوت استرپ فارسی  با هدف طراحی قالبی زیبا و واکنش گرا برای وبلاگ های  وردپرس فارسی زبان طراحی شده است. در طراحی این قالب از فریم ورک محبوب سی اس اس  (بوت استرپ) استفاده شده است. اولین نسخه این قالب در ژوئن سال ۲۰۱۸ به صورت رایگان منتشر شده است <p><a href="https://blog.stackprogramer.xyz/">دمو فارسی</a></p>.  بعد از آن نسخه ی تجاری آن منتشر شده است.
*Version: 1.7
*License: GNU General Public License v3 or later
*License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
*Tags:بوت استرپ، قالب وردپرس فارسی، واکنش گرا، قالب وردپرس، قالب راست چین، استک دیزاین، استک پروگرمر
*/

body {
    font-weight: 100 !important;
    color: #000;
}

h1, .h1 {
    margin-top: 0;
    font-weight: 600;
}

h2, .h2 {
    margin-top: 0;
    font-weight: 600;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 600;

}

p {
    text-align: justify;
}

blockquote {
    color: #008000;
    background: #fff;
    font-size: 12px;
}

hr {
    margin-top: 1px;
    margin-bottom: 1px !important;
}

img {
    border-radius: 4px;
    width: 100%;
    height: auto;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #337ab7;
    border-color: #337ab7;
}

.nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.navbar-toggle {
    float: right;
}

.current_page_item {
    background-color: #E5EAEF;
}

/*
 * Blog name and description
 */

.blog-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.blog-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}

.blog-description {
    font-size: 10px;
    color: #fff;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-weight: 100 !important;
    font-size: inherit;
    line-height: inherit;
}

.blog-main p {
    text-align: justify !important;;
}

/*
*Sidebar modules for boxing content
*/
.sidebar-module {
    padding: 1px;
    margin: 0 1px 1px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.blog-sidebar {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #ddd;
}

.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child, .sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/*
 *Pagination
 */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 1px;
    margin-top: 1px;
}

.blog-post p {
    text-align: justify !important;
}

.blog-post-title {
    margin-bottom: 1px;
    font-size: 17px;
}

.readmore {
    margin-top: 1px;
}

.blog-post-meta {
    margin-bottom: 2px;
    color: #999;
}

/*
 * Footer
 */

.blog-footer {
    padding: 20px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.footer-copyright {
    text-align: center !important;
    float: contour !important;
    font-size: 14px;
}


